@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  background-color: #F9F9F9;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  letter-spacing: -1px;
  text-rendering: optimizeLegibility;
}

.container {
  padding: 0 8%;
}

.container h3,
h2 {
  margin-left: 1%;
}

.food-container, .expiration {
  padding: 0 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  padding: 0;
  margin: 0;
  list-style: none;
}
.expiration {
  justify-content: space-between;
}

.card {
  background: #fff;
  padding: 15px;
  width: 150px;
  height: auto;
  margin: 10px;
  color: #000;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  border-width: 0;
}

form {
  width: 22rem;
  margin: 1rem auto 0;
}
.form-header {
  margin: 2rem auto 0;
  width: 24rem;
}
.form-container .count {
  padding: 0.25rem 0;
  text-align: center;
  color: #fff;
  background: #333;
  border-radius: 4px;
}

.form-container div,
.form-container select {
  margin-top: 5px;
  margin-bottom: 1.5rem;
  width: inherit;
}

.form-container input[type="submit"],
.form-container input[type="date"],
.form-container input[type="number"],
.form-container select,
.form-container textarea {
  padding: 0 0.5rem;
  width: inherit;
  height: 2rem;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 10px 40px rgb(0 0 0 / 3%);
  margin-top: 10px;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.form-container textarea {
  height: 5rem;
}

.form-container input[type="submit"] {
  height: 2.5rem;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  background: #319723;
  cursor: pointer;
}

.form-container p {
  margin-top: 0.5rem;
  color: #ff9900;
}

.form-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.radio {
  width: 50%;
  display: inline-flex;
  float: right;
}
.thumb {
  background: #fff;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  border-width: 0;
}
.name-block {
  padding: 0 3%;
}
.fresco {
  font-size: 1.8rem;
  font-weight: bold;
}
.exdate {
  font-size: 30px;
}
.logo-center {
  display: block; 
  margin: auto;
}
.img-right {
  position: absolute;
    right: 3%;
    top: 1.5%;
}
/* Media queries */
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    padding: 0 5%;
  }
}